{% extends 'layout/base_staff.html' %}

{% block content %}

<h1 class="mt-4">Manage Configuration</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/staff/customer">Dashboard</a></li>
    <li class="breadcrumb-item active">Configuration</li>
</ol>
<div class="mt-2">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto">
            <hr>
            <div class="table-responsive tbody-container">
                <table id="tableConfig" class="table" style="position: relative;">
                    <thead style="position: sticky; top: 0; background-color: #fff; z-index: 1;">
                    <tr>
                        <th scope="col" class="text-center" style="height: auto;">ID</th>
                        <th scope="col" class="text-center" style="height: auto;">Reverse Period Check-in</th>
                        <th scope="col" class="text-center" style="height: auto;">Surcharge</th>
                        <th scope="col" class="text-center" style="height: auto;">Foreign Guest Multiplier</th>
                        <th scope="col" class="text-center" style="height: auto;">Daily Multiplier</th>
                        <th scope="col" class="text-center" style="height: auto;">room Count Multiplier</th>
                        <th scope="col" class="text-center" style="height: auto;">Created At</th>
                    </tr>
                    </thead>
                    <tbody class="tbody-container">
                        {% if configs %}
                            {% for config in configs %}
                            <tr>
                                <td>
                                    <p class="text-center mb-0 mt-4">{{ config.id }}</p>
                                </td>
                                 <td>
                                    <p class="text-center mb-0 mt-4">{{ config.rev_period_checkin }}</p>
                                </td>
                                <td>
                                    <p class="text-center mb-0 mt-4 price">{{ config.surcharge }}</p>
                                </td>
                                <td>
                                    <p class="text-center mb-0 mt-4">{{ config.foreign_guest_multiplier }}</p>
                                </td>
                                <td>
                                    <p class="text-center mb-0 mt-4">{{ config.daily_multiplier }}</p>
                                </td>
                                <td>
                                    <p class="text-center mb-0 mt-4">{{ config.room_count_multiplier }}</p>
                                </td>
                                <td>
                                    <p class="text-center mb-0 mt-4">{{ config.created_at }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <a href="/staff/customer" class="btn btn-success mt-2">Back</a>
            <hr>
        </div>
    </div>
</div>

{% endblock %}