{% extends 'layout/base_staff.html' %}

{% block content %}

<h1 class="mt-4">Manage Customer</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/staff/customer">Dashboard</a></li>
    <li class="breadcrumb-item active">Customer</li>
</ol>
<div class="mt-2">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <form action="/staff/customer/search" method="post">
                <div class="input-group">
                     <input class="form-control" type="text" name="searchFor" placeholder="Search for name or email" aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
                     <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <hr>
            <table id="customerTable" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Email</th>
                    <th scope="col" class="text-center">User Type</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <th scope="row" class="text-center">{{ customer.name }}</th>
                        <td class="text-center">{{ customer.email }}</td>
                        <td class="text-center">{{ customer.user_type }}</td>
                        <td class="text-center">
                            <a href="/staff/customer/detail?id={{ customer.id }}"
                               class="btn btn-success">View</a>
                            <a href="/staff/customer/booked?id={{ customer.id }}"
                               class="btn btn-warning mx-2">Booked</a>
                            <div style="display: inline;" id="staffPointerEvent" class="staff-customer-id" data-customer-status="{{ customer.status }}" data-customer-id="{{ customer.id }}">
                                <a class="btn openStaffModal btn-danger">Block</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}