    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Name: {{ current_user.name }}</p>
                    <p>Email: {{ current_user.email }}</p>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <a href="/booked" class="btn btn-primary">History</a>
                    <a href="/logout" class="btn btn-primary">Log Out</a>
                </div>
            </div>
        </div>
    </div>