 <!-- staff Modal -->
<div id="staffModal" class="staff-modal">
    <div class="staff-modal-content">
        <span class="staff-close-btn">&times;</span>
        <p>Bạn có muốn tiếp tục không?</p>
        <div class="staff-modal-actions">
            <form action="/staff/block-customer-account" method="post">
                <form action="/staff/block-customer-account" method="post">
                    <button type="submit" id="yesBtn" name="post_block_customer_account" value="" class="staff-action-btn">Yes</button>
                    <button type="button" id="noBtn" class="staff-action-btn">No</button>
                </form>
            </form>
        </div>
    </div>
</div>

