{% extends 'layout/base.html' %}

{% block content %}
<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive tbody-container">
            <table id="tableCart" class="table" style="position: relative;">
                <thead style="position: sticky; top: 0; background-color: #fff; z-index: 1;">
                <tr>
                    <th scope="col" style="height: auto;">Book</th>
                    <th scope="col" style="height: auto;">Room</th>
                    <th scope="col" style="height: auto;">Name</th>
                    <th scope="col" style="height: auto;">Room Type</th>
                    <th scope="col" style="height: auto;">Price</th>
                    <th scope="col" style="height: auto;">Vacant Room</th>
                    <th scope="col" style="height: auto;">Handle</th>
                </tr>
                </thead>
                <tbody class="tbody-container">
                {% if cart_details %}
                    {% for cart_detail in cart_details %}
                    <tr>
                         <td>
                             <form action="/booking" method="post" style="height: 100%;" class="mb-0 mt-3 ml-0 center-button d-flex justify-content-left align-items-center">
                                <input type="hidden" name="post_cart_detail" value='{"room_id": "{{ cart_detail.room_id }}", "cart_detail_id": "{{ cart_detail.id }}"}'>
                                <button type="submit" id="bookingBtnCart" class="cartBtn btn border border-secondary rounded-pill px-4 py-2 mb-2 ml-0 mr-2 text-center text-primary">Book</button>
                             </form>
                        </td>
                        <th scope="row">
                            <div class="d-flex align-items-center">
                                <img src="../../static/client/images/{{ room_images[loop.index0][0].image }}" class="img-fluid me-5 rounded-circle"
                                     style="width: 80px; height: 80px;" alt="">
                            </div>
                        </th>
                        <td>
                            <p class="mb-0 mt-4">{{ rooms[loop.index0].name }}</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">{{ room_types[loop.index0].name }}</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4 price"> {{ rooms[loop.index0].price }}</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4" data-vacant-room="{{ rooms[loop.index0].vacant_room }}"> {{ rooms[loop.index0].vacant_room }}</p>
                        </td>
                        <td>
                            <form action="/handle" method="post">
                                <input type="hidden" name="post_cart_detail" value='{"cart_detail_id": "{{ cart_detail.id }}", "cart_id": "{{ cart_detail.cart_id }}"}'>
                                <button class="btn btn-md rounded-circle bg-light border mt-4">
                                    <i class="fa fa-times text-danger"></i>
                                </button>
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Cart Page End -->
{% endblock %}
