{% extends 'layout/base.html' %}

{% block content %}


        <!-- 404 Start -->
        <div class="container-fluid py-5">
            <div class="container py-5 text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <i class="bi bi-check-circle display-1 text-success"></i>
                        <h1 class="mb-4">Booking successful!</h1>
                        <p class="mb-4">Wishing you a fantastic stay filled with comfort, relaxation, and unforgettable moments. Enjoy your time and have a wonderful experience!</p>
                        <a class="btn border-success text-success rounded-pill py-3 px-5" href="/">Go Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 404 End -->
{% endblock %}
